.custom-section {
    position: relative;
    height: 330px;

    .photo-overlay {
        position: relative;
        width: 100%;
        height: 100%;

        img.custom-photo {
            width: 100%;
            height: 330px;
            object-fit: cover;
            filter: blur(2px);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .logo-custom {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 77px;
            height: 77px;
            z-index: 1;
        }

        .page-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 1; 
            font-family: $strong-font;
            font-weight: 500;
            font-size: 48px;
            line-height: 72px;
        }

        .woocommerce-breadcrumb {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 1; 
            font-family: $light-font;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $primary-text-color;
            a{
                font-family: $strong-font;
                color: $primary-text-color;
                text-decoration: none;
            }

            .separator{
                padding: 10px;
            }
        }
    }
}


.footer-box{
    display: flex;
    flex-wrap: nowrap;
    background-color: $background-footer-box-color;

    .footer-box1{
        width: 33.3333%;

        .footer-box1-text{
            h3{
          

            }
            p{
                
                

            }
            
        


        }
       
        
    }
    .footer-box2{
        width: 33.3333%;

        .footer-box2-text{
            h3{
          

            }
            p{
                

            }
            
        


        }
        
        
    }
    .footer-box3{
        width: 33.3333%;
        .footer-box3-text{
            h3{
          

            }
            p{
                

            }
            
        


        }
        
    }
    .footer-box1-text,
    .footer-box2-text,
    .footer-box3-text{
        margin: 60 50 60 80px;
    }
    h3{
        margin-bottom: 0px;
        font-size: $footer-box-header-size;
        font-family: $footer-second-font-family;


    }
    p{
        width: 75%;
        margin-top: 3px;
        font-family: $footer-second-font-family;
        color: $footer-second-text-color;
        
    }
    
    



}
