.site-main{
   
    


    .products{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px; 
        .product{
            list-style: none;
            width: 33.3333%;
            a{
                text-decoration: none;
                font-family: $primary-font;
                
                color: $footer-second-text-color;
                img{

                }
                h2{
                    width: 200px;
                    font-size: 16px;

                }
                span{
                    

                }
            }
            .button{
                display: none ;
                
            }
        }
        .post-36{
           

        }
        .post-35{
            margin-top: -45px;
            .woocommerce-loop-product__link{
                
                img{

                }
                h2{
                    margin-top: -5px;
                    

                }
                span{
                    

                }
            }

        }
        .post-33{
           
            a{
                margin-bottom: -60px;
                
                img{

                }
                h2{
                    margin-top: 20px;
                    

                }
                span{
                    

                }
            }

        }
        .post-28{
            margin-top: -60px;
           
            a{
                
                img{

                }
                h2{
                    margin-top: -30px;
                   
                    

                }
                span{
                    

                }
            }

        }
        .post-63{
            margin-top: 20px;
           
            a{
                
                
                img{

                }
                h2{
                    
                   
                    

                }
                .price{
                  

                }
            }

        }
        .post-67{
            margin-top: -60px;
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -20px;
                    
                }
                .price{
                  

                }
            }

        }
        .post-68{
            
            a{
                
                
                img{

                }
                h2{
                    margin-top: 30px;
                    
                }
                .price{
                  

                }
            }

        }
        .post-70{
            margin-top: 20px;
            
            a{
                
                
                img{

                }
                h2{
                    margin-top: 40px;
                   
                }
                .price{
                  

                }
            }

        }
        .post-72{
            margin-top: -40px;
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -55px;
                    
                }
                .price{
                  

                }
            }

        }
        .post-74{
            margin-top: -47px;
           
            a{
                
                
                img{

                }
                h2{
                   
              
                }
                .price{
                  

                }
            }

        }
        .post-76{
            margin-top: -20px;
           
            a{
                
                
                img{

                }
                h2{
                   
                

                }
                .price{
                  

                }
            }

        }
        .post-78{
            margin-top: -60px;
           
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -30px;
               
                }
                .price{
                  

                }
            }

        }
        .post-80{
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -20px;
           
                }
                .price{
                  

                }
            }

        }
        .post-82{
            margin-top: 30px;
           
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: 40px;
                   
                   

                }
                .price{
                  

                }
            }

        }
        .post-84{
            margin-top: -30px;
           
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: 20px;
    
                }
                .price{
                  

                }
            }

        }





       
    }
}