.site-main{
    .result-count-products{
        background-color: $background-footer-box-color;
        display: flex;
        font-family: $primary-font;
        .woocommerce-result-count{
            margin-left: 10%;
        }
    }
    .woocommerce-ordering{
        display: flex;
        margin-left: 70%;
        margin-top: -50px;
        p{
            font-family: $primary-font;
            margin-top: 10px;

        }
        .orderby{
            margin-left: 10px;
            margin-top: 7px;
            width: 100px;
            height: 30px;
            border: none ;
            background-color: #FFF;
            color: $gray-color;
            padding-left: 10px;
            option{
                font-family: $primary-font;
                color: $gray-color;

            }
        }

    }
   
    


    .products{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px; 
        padding-top: 30px;
        .product{
            list-style: none;
            width: 33.3333%;
            a{
                text-decoration: none;
                font-family: $primary-font;    
                color: $footer-second-text-color;
                img{

                }
                h2{
                    width: 200px;
                    font-size: 16px;

                }
                span{
                    

                }
            }
            .button{
                display: none ;
                
            }
        }
        .post-36{
           

        }
        .post-35{
            margin-top: -45px;
            .woocommerce-loop-product__link{
                
                img{

                }
                h2{
                    margin-top: -5px;
                    

                }
                span{
                    

                }
            }

        }
        .post-33{
           
            a{
                margin-bottom: -60px;
                
                img{

                }
                h2{
                    margin-top: 20px;
                    

                }
                span{
                    

                }
            }

        }
        .post-28{
            margin-top: -60px;
           
            a{
                
                img{

                }
                h2{
                    margin-top: -30px;
                   
                    

                }
                span{
                    

                }
            }

        }
        .post-63{
            margin-top: 20px;
           
            a{
                
                
                img{

                }
                h2{
                    
                   
                    

                }
                .price{
                  

                }
            }

        }
        .post-67{
            margin-top: -60px;
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -20px;
                    
                }
                .price{
                  

                }
            }

        }
        .post-68{
            
            a{
                
                
                img{

                }
                h2{
                    margin-top: 30px;
                    
                }
                .price{
                  

                }
            }

        }
        .post-70{
            margin-top: 20px;
            
            a{
                
                
                img{

                }
                h2{
                    margin-top: 40px;
                   
                }
                .price{
                  

                }
            }

        }
        .post-72{
            margin-top: -40px;
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -55px;
                    
                }
                .price{
                  

                }
            }

        }
        .post-74{
            margin-top: -47px;
           
            a{
                
                
                img{

                }
                h2{
                   
              
                }
                .price{
                  

                }
            }

        }
        .post-76{
            margin-top: -20px;
           
            a{
                
                
                img{

                }
                h2{
                   
                

                }
                .price{
                  

                }
            }

        }
        .post-78{
            margin-top: -60px;
           
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -30px;
               
                }
                .price{
                  

                }
            }

        }
        .post-80{
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: -20px;
           
                }
                .price{
                  

                }
            }

        }
        .post-82{
            margin-top: 30px;
           
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: 40px;
                   
                   

                }
                .price{
                  

                }
            }

        }
        .post-84{
            margin-top: -30px;
           
           
            a{
                
                
                img{

                }
                h2{
                    margin-top: 20px;
    
                }
                .price{
                  

                }
            }

        }





       
    }

    .woocommerce-pagination{
        margin-top: 20px;
        text-align: center;
        ul.page-numbers {
            list-style: none;
            padding: 0;
            display: inline-block;

            li {
                display: inline-block;
                margin: 0 5px;
                font-family: $primary-font;
                margin: 10px;
                
                span{
                    color: black;
                    text-decoration: none;
                    background-color: $pagination-color;
                    padding: 5 15 5 15px;
                    border-radius: 10px;

                }
                a{
                    color: black;
                    text-decoration: none;
                    background-color: $cart-second-color;
                    padding: 5 15 5 15px;
                    border-radius: 10px;
                }
               
            }
        }
    }
}