//GLOBAL
/*----------------------------------------------------------------*/
//FONTS
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Poppins-Semibold';
    src: url('../fonts/Poppins-Semibold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  $primary-font: 'Poppins-Regular';
  $strong-font: 'Poppins-Medium';
  $light-font: 'Poppins-Light';
  $semibold-font: 'Poppins-Semibold';
  $bold-font: 'Poppins-Bold';


//COLORS
$background-color: #ffffff;
$primary-text-color: #000000;
$price-color: #B88E2F;




/*----------------------------------------------------------------*/
//HEADER VARIABLES










/*---------FOOTER--------*/
$background-footer-box-color: #FAF4F4;
$footer-box-header-size:26px;
$footer-second-text-color:#3333338e;
$footer-second-font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$footer-second-font-weight: 600;
$cart-second-color:#FFF9E5;

